//=========================================
//
// GRID
//
//=========================================
//
// 1 - Mixins
// 2 - Extends
// 3 - Grid --defautl--
// 4 - Grid --phone--
// 5 - Grid --tablet--
// 6 - Grid --computer--
// 7 - row
// 
//=========================================

//=========================================
// Variables to add into variables.scss
//=========================================

// define specs of the grid

$paddingLeft: 10px;
$grid: 12;

// define the min-width in media queries

$phoneScreen: 740px;
$tabletScreen: 960px;
$computerScreen: 1180px;

// define the string will be use in class in the html doc for device | EX: col-ph-6 for phone device

$phone: 'ph';
$tablet: 'tb';
$computer: 'cp';

//=========================================
// Mixins
//=========================================

@mixin responsiveGrid($name: ''){
	@for $i from 1 through $grid{
		.col-#{$name}-#{$i}{
			width: $i / $grid * 100%;
		}
		.col-#{$name}-offset-#{$i}{ left: $i / $grid * 100%; }
	}
}

//=========================================
// Extends
//=========================================

%gridSpec{
	float: left;
	position: relative;
	padding: 0 $paddingLeft;
}

%clearfix{
	
	&:before,
	&:after {
		content: "";
		display: table;
	}
	.container:after {
		clear: both;
	}
	.container {
		zoom: 1;
	}
}

//=========================================
// Grid --default--
//=========================================

@for $i from 1 through $grid{
	
	.col-#{$i}{
		width: $i / $grid * 100%;
	}
	.col-#{$phone}#{$i}, .col-#{$tablet}#{$i}, .col-#{$computer}#{$i} {
		@extend %gridSpec;
	}
}

//=========================================
// Grid --for phone screen size--
//=========================================

@media only screen and (min-width: $phoneScreen) {
	width: 100%;
	@include responsiveGrid($phone)
	.center-#{$phone}{ margin: 0 auto; float: none; }
	.hidden-on-#{$phone}{ display: none; visibility: hidden; }
}

//=========================================
// Grid --for tablet screen size--
//=========================================

@media only screen and (min-width: $tabletScreen) {
	@include responsiveGrid($tablet)
	.center-#{$tablet}{ margin: 0 auto; float: none; }
	.hidden-on-#{$tablet}{ display: none; visibility: hidden; }
}

//=========================================
// Grid --for computer screen size--
//=========================================

@media only screen and (min-width: $computerScreen) {
	@include responsiveGrid($computer)
	.center-#{$computer}{ margin: 0 auto; float: none; }
	.hidden-on-#{$computer}{ display: none; visibility: hidden; }
}

//=========================================
// Row
//=========================================

.row {
	margin: 0 $paddingLeft;
	@extend %clearfix;
}