html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.col-ph1, .col-tb1, .col-cp1, .col-ph2, .col-tb2, .col-cp2, .col-ph3, .col-tb3, .col-cp3, .col-ph4, .col-tb4, .col-cp4, .col-ph5, .col-tb5, .col-cp5, .col-ph6, .col-tb6, .col-cp6, .col-ph7, .col-tb7, .col-cp7, .col-ph8, .col-tb8, .col-cp8, .col-ph9, .col-tb9, .col-cp9, .col-ph10, .col-tb10, .col-cp10, .col-ph11, .col-tb11, .col-cp11, .col-ph12, .col-tb12, .col-cp12 {
  float: left;
  position: relative;
  padding: 0 10px; }

.row:before, .row:after {
  content: "";
  display: table; }
.row .container:after {
  clear: both; }
.row .container {
  zoom: 1; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media only screen and (min-width: 740px) {
  .col-ph-1 {
    width: 8.33333%; }

  .offset-1 {
    margin-left: 8.33333%; }

  .offset-ph-1 {
    margin-left: 8.33333%; }

  .col-ph-2 {
    width: 16.66667%; }

  .offset-2 {
    margin-left: 16.66667%; }

  .offset-ph-2 {
    margin-left: 16.66667%; }

  .col-ph-3 {
    width: 25%; }

  .offset-3 {
    margin-left: 25%; }

  .offset-ph-3 {
    margin-left: 25%; }

  .col-ph-4 {
    width: 33.33333%; }

  .offset-4 {
    margin-left: 33.33333%; }

  .offset-ph-4 {
    margin-left: 33.33333%; }

  .col-ph-5 {
    width: 41.66667%; }

  .offset-5 {
    margin-left: 41.66667%; }

  .offset-ph-5 {
    margin-left: 41.66667%; }

  .col-ph-6 {
    width: 50%; }

  .offset-6 {
    margin-left: 50%; }

  .offset-ph-6 {
    margin-left: 50%; }

  .col-ph-7 {
    width: 58.33333%; }

  .offset-7 {
    margin-left: 58.33333%; }

  .offset-ph-7 {
    margin-left: 58.33333%; }

  .col-ph-8 {
    width: 66.66667%; }

  .offset-8 {
    margin-left: 66.66667%; }

  .offset-ph-8 {
    margin-left: 66.66667%; }

  .col-ph-9 {
    width: 75%; }

  .offset-9 {
    margin-left: 75%; }

  .offset-ph-9 {
    margin-left: 75%; }

  .col-ph-10 {
    width: 83.33333%; }

  .offset-10 {
    margin-left: 83.33333%; }

  .offset-ph-10 {
    margin-left: 83.33333%; }

  .col-ph-11 {
    width: 91.66667%; }

  .offset-11 {
    margin-left: 91.66667%; }

  .offset-ph-11 {
    margin-left: 91.66667%; }

  .col-ph-12 {
    width: 100%; }

  .offset-12 {
    margin-left: 100%; }

  .offset-ph-12 {
    margin-left: 100%; }

  .center-ph {
    margin: 0 auto;
    float: none; }

  .hidden-on-ph {
    display: none;
    visibility: hidden; } }
@media only screen and (min-width: 960px) {
  .col-tb-1 {
    width: 8.33333%; }

  .offset-1 {
    margin-left: 8.33333%; }

  .offset-tb-1 {
    margin-left: 8.33333%; }

  .col-tb-2 {
    width: 16.66667%; }

  .offset-2 {
    margin-left: 16.66667%; }

  .offset-tb-2 {
    margin-left: 16.66667%; }

  .col-tb-3 {
    width: 25%; }

  .offset-3 {
    margin-left: 25%; }

  .offset-tb-3 {
    margin-left: 25%; }

  .col-tb-4 {
    width: 33.33333%; }

  .offset-4 {
    margin-left: 33.33333%; }

  .offset-tb-4 {
    margin-left: 33.33333%; }

  .col-tb-5 {
    width: 41.66667%; }

  .offset-5 {
    margin-left: 41.66667%; }

  .offset-tb-5 {
    margin-left: 41.66667%; }

  .col-tb-6 {
    width: 50%; }

  .offset-6 {
    margin-left: 50%; }

  .offset-tb-6 {
    margin-left: 50%; }

  .col-tb-7 {
    width: 58.33333%; }

  .offset-7 {
    margin-left: 58.33333%; }

  .offset-tb-7 {
    margin-left: 58.33333%; }

  .col-tb-8 {
    width: 66.66667%; }

  .offset-8 {
    margin-left: 66.66667%; }

  .offset-tb-8 {
    margin-left: 66.66667%; }

  .col-tb-9 {
    width: 75%; }

  .offset-9 {
    margin-left: 75%; }

  .offset-tb-9 {
    margin-left: 75%; }

  .col-tb-10 {
    width: 83.33333%; }

  .offset-10 {
    margin-left: 83.33333%; }

  .offset-tb-10 {
    margin-left: 83.33333%; }

  .col-tb-11 {
    width: 91.66667%; }

  .offset-11 {
    margin-left: 91.66667%; }

  .offset-tb-11 {
    margin-left: 91.66667%; }

  .col-tb-12 {
    width: 100%; }

  .offset-12 {
    margin-left: 100%; }

  .offset-tb-12 {
    margin-left: 100%; }

  .center-tb {
    margin: 0 auto;
    float: none; }

  .hidden-on-tb {
    display: none;
    visibility: hidden; } }
@media only screen and (min-width: 1180px) {
  .col-cp-1 {
    width: 8.33333%; }

  .offset-1 {
    margin-left: 8.33333%; }

  .offset-cp-1 {
    margin-left: 8.33333%; }

  .col-cp-2 {
    width: 16.66667%; }

  .offset-2 {
    margin-left: 16.66667%; }

  .offset-cp-2 {
    margin-left: 16.66667%; }

  .col-cp-3 {
    width: 25%; }

  .offset-3 {
    margin-left: 25%; }

  .offset-cp-3 {
    margin-left: 25%; }

  .col-cp-4 {
    width: 33.33333%; }

  .offset-4 {
    margin-left: 33.33333%; }

  .offset-cp-4 {
    margin-left: 33.33333%; }

  .col-cp-5 {
    width: 41.66667%; }

  .offset-5 {
    margin-left: 41.66667%; }

  .offset-cp-5 {
    margin-left: 41.66667%; }

  .col-cp-6 {
    width: 50%; }

  .offset-6 {
    margin-left: 50%; }

  .offset-cp-6 {
    margin-left: 50%; }

  .col-cp-7 {
    width: 58.33333%; }

  .offset-7 {
    margin-left: 58.33333%; }

  .offset-cp-7 {
    margin-left: 58.33333%; }

  .col-cp-8 {
    width: 66.66667%; }

  .offset-8 {
    margin-left: 66.66667%; }

  .offset-cp-8 {
    margin-left: 66.66667%; }

  .col-cp-9 {
    width: 75%; }

  .offset-9 {
    margin-left: 75%; }

  .offset-cp-9 {
    margin-left: 75%; }

  .col-cp-10 {
    width: 83.33333%; }

  .offset-10 {
    margin-left: 83.33333%; }

  .offset-cp-10 {
    margin-left: 83.33333%; }

  .col-cp-11 {
    width: 91.66667%; }

  .offset-11 {
    margin-left: 91.66667%; }

  .offset-cp-11 {
    margin-left: 91.66667%; }

  .col-cp-12 {
    width: 100%; }

  .offset-12 {
    margin-left: 100%; }

  .offset-cp-12 {
    margin-left: 100%; }

  .center-cp {
    margin: 0 auto;
    float: none; }

  .hidden-on-cp {
    display: none;
    visibility: hidden; } }
.row {
  margin: 0 10px; }

.no-shadow {
  box-shadow: none !important; }

.shadow-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.shadow-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }

.shadow-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shadow-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shadow-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=AS-Framework.css.map */
